.trucks {
    display: flex;
    gap: 2rem;

  }
  
  .truck-options {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 1rem;
  }
  
  .truckImg {
    width: 200px;
    height: 200px;
    aspect-ratio: 1 / 1;
    background: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
  }

   .trucks button {
    margin: 0.5rem 0 0;
    font-size: 1.2rem;

   }